<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Allow networking -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Obtain the sd card write permission for file upload and download -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- Get GSM (2g), WCDMA (Unicom 3g) and other network status information -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Get information about wifi network status -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Allows reading the phone status for creating a Bmob Installation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- Obtain the sd card write permission for file upload and download -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".Application.AppApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReadPaper"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <meta-data
            android:name="pdftron_license_key"
            android:value="${pdftronLicenseKey}" />

        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".EditPaperActivity"
            android:exported="false" />

        <activity
            android:name=".AddPaperActivity"
            android:exported="false" />

        <activity
            android:name=".HomepageActivity"
            android:exported="false" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".ChatActivity"
            android:exported="false" />

        <activity
            android:name="com.pdftron.pdf.controls.DocumentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:theme="@style/PDFTronAppTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".CustomDocumentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:exported="false"
            android:theme="@style/PDFTronAppTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.pspdfkit.ui.PdfActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".CustomPdfActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add the ContentProvider information -->
        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="bdic.comp3011j.readpaper.BmobContentProvider" />
    </application>

</manifest>